.center {
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    */
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 109px;
    padding-left: 40px;
    padding-right: 40px;
    width: 272;
    height: 92;
}

p {
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    font-size: small;
}

#form-box {
    padding-top: 25px;
}

#searchbar-box {
    padding-bottom: 25px;
}

#searchbar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 24px;

}

#button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    
}

#left-button {
    border: 4px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 140px;
    cursor: pointer;
}

#right-button {
    border: 4px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 140px;
    cursor: pointer;
}

#footer {
    display: block;
    border: 10px;
}

