.center {
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    */
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 109px;
    padding-left: 40px;
    padding-right: 40px;
    width: 272;
    height: 92;
}
#form-box {
    padding-top: 25px;
}

#searchbar-box {
    padding-bottom: 25px;
}

#searchbar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

#button-box {
    /*display: flex;*/
    display: block;
    justify-content: center;
    align-items: center;
    
}

#left-button {
    border: 4px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

#right-button {
    border: 4px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

